<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <header>
    <div class="header">  
      <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/mycolection">My colection</a></li>
        <li><a href="/weatherforecast">Weather forecast</a></li>
      </ul>
    </nav>
    </div>
  
  </header>